{* Create WishList *}

{block content}
	<h1 n:block="title">Tvoje tři přání</h1>

	{control newWishListForm}
	
{/block}

{block scripts}
	{include parent}
	<script>
	</script>
{/block}

{block head}
	<link rel="stylesheet" href="{$basePath}/css/custom.css"></link>
{/block}
