{* WishList page *}

{block content}
	<h1 n:block="title">Tři přání</h1>

	{control wishListForm}

	<a n:href="show $ownerId">Cancel</a>

{/block}

{block scripts}
	{include parent}
	<script>
	</script>
{/block}

{block head}
	<link rel="stylesheet" href="{$basePath}/css/custom.css"></link>
{/block}
